.contact-page {
  background: url("https://cdn.discordapp.com/attachments/1212367163361468471/1347844132659527730/E-TOUR_UBON.png?ex=67cd4d2a&is=67cbfbaa&hm=7cd23f76c9d881cd0386badb3f0de438e004c81bb053553747db27d9dc28f421&")
    center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-box {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    max-width: 70%;
    color: white;
    text-align: center;
  }

  .contact-details {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .contact-details a {
    color: #ffdd44;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }

  .contact-details a:hover {
    color: #fff;
  }

  h1,
  h2 {
    color: #ffcc00;
    margin: 10px 0;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
