<div class="home-container">
  <div class="overlay"></div>
  <div class="content">
    <img src="assets/logo.png" alt="Company Logo" class="logo" />
    <h1>Travel Tour Agency</h1>
    <p>Explore the world with our amazing tour packages.</p>

    <div class="buttons">
      <button class="btn btn-red" routerLink="/one-day-tours">
        1 Day Tour
      </button>
      <button class="btn btn-yellow" routerLink="/many-days-tours">
        3D 2N Tour
      </button>
      <button class="btn btn-green" routerLink="/contact">Contact</button>
    </div>
  </div>
</div>
